$brand-font-folder: '~@collab-ui/core/fonts';
$icon-font-path: '~@collab-ui/icons/fonts';
$images-path: '~@collab-ui/core/images';
@import '~@collab-ui/core/scss/collab-ui';
@import '~@collab-ui/core/scss/layouts/sites';
@import '../collab-ui/CodeBlock/CodeBlock';
@import '../collab-ui/Hero/hero';
@import '../collab-ui/PageHeader/PageHeader';
@import '../components/CodeTab/CodeTab';
@import '../containers/ComponentPage/ComponentPage';
@import '../containers/HomePage/home';
@import '../containers/SideNav/SideNav';

body {
  background-color: $white;
}

.cui-top-bar {
  grid-area: topbar;
  padding: 0 32px;
}

.docs-content-area {
  grid-area: main;
  border-top: 1px solid $black-08;

  &--with-pagenav {
    display: grid;
    grid-template-columns: 1fr 300px;
    grid-template-rows: auto;
    grid-template-areas: 'pagecolumn pagenav';  }


}

.docs-main {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 80px auto 48px 1fr;
  grid-template-areas:
    'topbar topbar'
    '. page-header'
    '. tabs'
    'sidebar main'
    'home home';

    &--home {
      grid-template-columns: 100%;
      grid-template-rows: 80px 1fr;
      grid-template-areas:
        'topbar'
        'home';

      .docs-side-nav {
        display: none;
      }
    }
}

.docs-content {
  &__column {
    grid-area: pagecolumn;
    padding: rem-calc(48) rem-calc(32);
  }
  &__nav {
    grid-area: pagenav;
  }
}
