.cui-page-links {
  &__container {
    position: fixed;
    display: flex;
    margin-top: rem-calc(92);
    flex-flow: column;
  }

  &__link {
    padding: 0.3rem;
    color: $gray-1;
    cursor: default;
    border-left: 2px solid $black-12;

    &--active {
      color: $blue-press;
      border-color: $blue-press;
    }
  }
}
